APScheduler==3.9.1
backports.zoneinfo==0.2.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
cx-Oracle==8.3.0
filelock==3.7.0
hanlp==2.1.0b27
hanlp-common==0.0.15
hanlp-downloader==0.0.25
hanlp-trie==0.0.5
huggingface-hub==0.7.0
idna==3.3
importlib-metadata==4.11.4
numpy==1.21.6
packaging==21.3
phrasetree==0.0.8
pynvml==11.4.1
pyparsing==3.0.9
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
six==1.16.0
termcolor==1.1.0
tokenizers==0.12.1
toposort==1.5
torch==1.11.0
tqdm==4.64.0
transformers==4.19.2
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
zipp==3.8.0